.formreg {
    border: 3px solid #8b8787;
    width: 350px;
    margin:auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.judulreg{
    text-align: center;
    margin: 30px auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

.buttonreg {
    background-color: #006666;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;

}

span.psw {
    float: right;
    padding-top: 16px;
} 

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Poppins&display=swap");@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500&family=Ubuntu&display=swap");